@use '../../../../styles/mixins' as *;

:host {
  display: block;
}

.ingredient-list {
  min-height: 132px;
  padding: var(--space-5);
  border-radius: var(--radius-20);
  background: color-mix(in srgb, var(--color-olive-green) 30%, transparent);

  @include desktop {
    min-height: 209px;
  }
}

.ingredient-list__title {
  margin-bottom: var(--space-4);
  font: var(--font-h6);
  color: var(--color-green-dark);

  @include desktop {
    font: var(--font-small-label);
  }
}

.ingredient-list__items {
  margin: 0 calc(var(--space-1) * -1);
  padding: 0;
  list-style: none;
}
