@use 'styles/tokens';
@use 'styles/reset';

html,
body {
  min-height: 100%;
}

body {
  font: var(--font-body-16);
  color: var(--color-green-dark);
  background: var(--color-cream);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
